.restaurant-logo {
    position: absolute;
    left: 38px;
    top: 160px;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    filter: drop-shadow(0px 2.43662px 5px rgba(0, 0, 0, 0.3));
}

.restaurant-name {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    margin-top: 170px;
    margin-left: 200px;
}

.desc {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #393939;
}

.desc-container {
    margin-left: 200px;
    width: 850px;
}

.restauraunt-content {
    margin-top: 350px;
}

.item {
    transition: all 0.4s;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #7a7a7a;
    margin-left: 15px;
}

.item a {
    transition: all 0.4s;
    color: #7a7a7a;
}

.item a:hover {
    color: black;
}

.item a:active {
    filter: drop-shadow(0px 2.43662px 5px rgb(0, 0, 0));
}

.item-selected a {
    font-weight: 500;
    color: black;
}

.menu-card {
    transition: all 0.5s !important;
    -webkit-transition: all 0.5s;
    padding: 15px 15px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.45);
    border-radius: 24px;
}

.menu-card h1 {
    font-weight: 700;
}

.choosen {
    color: #0e0e0e !important;
}

.menu-card-ico {
    transition: 0.2s all;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 10px;
    color: #777777;
}

.menu-card-ico:hover {
    transform: scale(1.05);
    color: #0e0e0e;
}

.menu-card-ico:active {
    transform: scale(0.98);
}

.item-cnts {
    font-weight: 300;
    font-size: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 10px;
    color: #ffffff;
}

.item-price {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.item-card {
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.item-card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.item-card:active {
    transform: scale(0.99);
}

.menu-item {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s;
}

.menu-item:hover {
    transform: scale(1.01);
}

.menu-item:active {
    transform: scale(.99);
}   

.menu-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;    
}

.menu-item-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.menu-item-description {
    font-size: 18px !important;
}

.menu-price {
    font-weight: bold;
}

.card-view {
    transition: all 0.6s;
}

.list-view {
    transition: all 0.6s;
}

.hide-view {
    opacity: 0;
}

body{
    padding-bottom: 50px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}