.restaurant-logo {
    position: absolute;
    left: 38px;
    top: 160px;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    filter: drop-shadow(0px 2.43662px 5px rgba(0, 0, 0, 0.3));
}

.restaurant-name {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    margin-top: 170px;
    margin-left: 200px;
}

.desc {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #393939;
}

.desc-container {
    margin-left: 200px;
    width: 850px;
}

.restauraunt-content {
    margin-top: 350px;
}

.item {
    transition: all 0.4s;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #7a7a7a;
    margin-left: 15px;
}

.item a {
    transition: all 0.4s;
    color: #7a7a7a;
}

.item a:hover {
    color: black;
}

.item a:active {
    filter: drop-shadow(0px 2.43662px 5px rgb(0, 0, 0));
}

.item-selected a {
    font-weight: 500;
    color: black;
}

.menu-card {
    transition: all 0.5s !important;
    -webkit-transition: all 0.5s;
    padding: 15px 15px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.45);
    border-radius: 24px;
}

.menu-card h1 {
    font-weight: 700;
}

.choosen {
    color: #0e0e0e !important;
}

.menu-card-ico {
    transition: 0.2s all;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 10px;
    color: #777777;
}

.menu-card-ico:hover {
    transform: scale(1.05);
    color: #0e0e0e;
}

.menu-card-ico:active {
    transform: scale(0.98);
}

.item-cnts {
    font-weight: 300;
    font-size: 20px;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10px;
    color: #ffffff;
}

.item-price {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.item-card {
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.menu_card {
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.menu_card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.menu_card:active {
    transform: scale(0.99);
}

.menu-item {
    transition: 0.4s all ease-in-out;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

.menu-item:hover {
    transform: scale(1.01);
}

.menu-item:active {
    transform: scale(0.99);
}

.menu-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.menu-item-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.menu-item-description {
    font-size: 18px !important;
}

.menu-price {
    font-weight: bold;
}

.card-view {
    transition: all 0.6s;
}

.list-view {
    transition: all 0.6s;
}

.list-added {
    width: 95%;
}

.button-container {
    transition: 0.6s all;
    width: 90px;
    opacity: 1;
    display: flex;
    align-items: center;
    height: 100%;
}

.button-container button {
    transition: 0.6s all;
    width: 90px;
}

.button-container button i {
    color: white;
    font-size: 18px;
}

.hide-btn-list {
    width: 0px;
    opacity: 0;
}

.hide-btn-list button {
    width: 0px;
}

.li-btn-remove {
    width: 90px;
    border-radius: 5px;
}

.hide-view {
    opacity: 0;
}

body {
    padding-bottom: 50px;
}

.btn-num {
    background-color: #1a1a1a;
    color: #f7f7f7;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-weight: 600;
}

.btn-num:hover {
    color: #f7f7f7;
}

.btn-mid:hover {
    color: #f7f7f7;
}

.btn-mid {
    color: #f7f7f7;
    border-radius: 18px;
    width: 100%;
    background-color: #1a1a1a;
    margin-left: 10px;
    font-weight: 600;
    height: 36px;
}

.buttons-contain {
    transition: all 0.5s;
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: -84px;
    left: 6px;
    z-index: 0 !important;
}

.give-space {
    height: 165px !important;
}

.show-buttons {
    top: -25px !important;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.title {
    font-weight: 800;
    color: #000000;
}

.center {
    display: flex;
    justify-content: center;
}

.pd-itm {
    color: white;
}

.pd-itm-cn {
    font-weight: 700;
    font-size: 34px;
    display: flex;
    align-items: flex-end;
    height: 530px;
}

.pd-btn {
    width: 90%;
    font-weight: 34px;
    margin-top: 25px;
    font-weight: 700;
    padding: 24px 24px;
    background-color: #000000;
}

.popular-plates {
    padding: 0px 5%;
}

.p-card {
    border-radius: 24px;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    display: inline-block;
}

.price-container {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 34px;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

.price-container h3 {
    color: white;
}

.slider {
    overflow-x: auto; /* add horizontal scrollbar when content overflows */
}

.scrollable {
    padding-bottom: 10px; /* add space between scrollbar and cards */
    white-space: nowrap; /* prevent the items from wrapping */
    overflow-x: scroll; /* add horizontal scrollbar when content overflows */
}


.scrollable::-webkit-scrollbar {
    width: 12px;
    height: 24px;
}

.scrollable::-webkit-scrollbar-track {
    background-color: #dbdbdb;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #000000;
    border-radius: 10px;
    background-color: #000000;
}

.post{
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    padding: 20px 20px;
    margin-top: 24px;
    background-color: #ffffff;
}

.post .center h2 {
    font-weight: 800;
}

.seeMore{
    cursor: pointer;
}

@media (max-width: 777px) {
    .banner {
        width: unset !important;
    }
}
@media (max-width: 1399px) {
    .rmlibtn {
        width: 55px !important;
    }
}

.allPublications {
    background-color: #0f0f0f;
    padding: 15px 15px;
    border-radius: 5px;
}