.table-card {
    background-color: white;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.t-head {
    background-color: #1c46b2;
    color: white;
}

.t-point1 {
    border-radius: 15px 0 0 0;
}

.t-point2 {
    border-radius: 0 15px 0 0;
}

.dataTables_filter {
    display: none;
}

.dataTables_info {
    display: none;
}

.dataTables_length {
    display: none;
}

.tab-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.mid {
    vertical-align: middle;
}

.t-contain {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.button-invite {
    width: 74%;
    margin-right: 1%;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 0px 90px 0px 90px;
}

.owner-crown {
    font-size: 23px;
    transform: rotate(323deg);
    position: absolute;
    top: -6px;
    left: -8px;
    color: rgb(255, 187, 0);
}

.pfp-tab-container {
    position: relative;
}

.tb-clock {
    font-size: 25px;
}

.details-pfp {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.details-username {
    font-weight: 600;
    margin-left: 25px;
}

.details-db {
    margin-left: 33px;
}

.details-type {
    font-weight: 600;
}

.dtypes {
    margin-left: 80%;
}

.details-card{    
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);   
}

.details-body{
    padding: 15px 140px;
}

.form-control{
    background-color: white !important;
}

.access-description{
    /* margin-left: 100px; */
    float: right;
}

.access-description h5{
    font-weight: 600;
}

.description{
    margin-left: 10px;
}

.description-item {
    margin-bottom: 5px;
}

.pm-list {
    width: 80%;
}