.reports-ico {
    color: rgb(26, 26, 26);
    cursor: pointer;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.dataTables_info {
    display: none;
}

.reports-container {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3) !important;
}

.t-point1{
    border-radius: 10px 0 0 0;
}

.t-point2{
    border-radius: 0 10px 0 0;
}

.report-msg {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
}

.report-container {
    display: flex;
    justify-content: center;
}

.form-check-input:checked {
    background-color: #080808;
    border-color: #1a1a1a;
}

.dashboard-cards {
    padding: 20px 20px;
    box-shadow: 0px 4.70914px 10.5956px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
}