.aIco {
    color: #000000;
  }
  
  .aIco:hover {
    color: #000000;
  }
  
  .navbar-pfp {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
      display: flex;
      justify-content: center;
  }
  
  .dpDown {
      float: right;
      position: relative;
  }
  
  .custom-dpdown {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      top: 37px;
      left: -136px;
      /* height: 168px; */
      min-width: 193px;
      background: #ffffff;
      box-shadow: 0px 6.76454px 16.9114px 3.38227px rgba(0, 0, 0, 0.5);
      border-radius: 27.0582px;
  }
  .custom-dpdown-open {
    transition: all .3s linear;  
    height: fit-content;
    opacity: 1;
  }
  
  .custom-dpdown-open.hide-dpDown{
    height: 0px;
    opacity: 0;  
  }
  
  .custom-dpdown-header {
    background-color: #1C46B2;
    padding-top: 5px;
  }
  
  .custom-dpdown-title {
    color: white;  
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 18;
  }
  
  .custom-dpdown-item {
    color: #000000;
    margin: 5px;  
  }
  
  .dot{  
    height: 35px;
    width: 35px;
    background-color: rgb(255, 140, 140);
    border-radius: 50%;
    display: inline-block;
  }
  
  .custom-dpdown-item-container {
    cursor: pointer;
    display: flex;
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    height: 40px;
    align-items: center;
  }
  
  .custom-dpdown-separation {
    margin: 5px 0px;
  }
  
  .custom-dpdown-item-container:hover {
    background-color: rgb(243, 243, 243);
  }
  
  .custom-dpdown-item:hover {
    color: #000000;
  }
  
  /* extra styling for the navbar */
  .nav-extra {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  
  /* icon styling */
  .n-icons {    
      font-size: 25px;
      vertical-align: middle;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .icons-nav{
      display: flex;
      align-items: center;
  }
  
  .n-text {
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      vertical-align: middle;
  }
  
  .vertical {
      border-left: 2px solid #878787;
      display: inline;
      vertical-align: middle;
      margin-right: 13px;
      height: 50px;
  }
  
  .nav_name {
      margin-left: 5px;
  }
  
  :root {
      --header-height: 3rem;
      --nav-width: 68px;
      --first-color-light: #c9c9c9;
      --white-color: #f7f6fb;
      --body-font: "Nunito", sans-serif;
      --normal-font-size: 1rem;
      --z-fixed: 100;
  }
  
  *,
  ::before,
  ::after {
      box-sizing: border-box;
  }
  
  body {
      position: relative;
      margin: var(--header-height) 0 0 0;
      padding: 0 1rem;
      font-size: var(--normal-font-size);
      transition: 0.5s;
  }
  
  a {
      text-decoration: none;
  }
  
  .header {
      width: 100%;
      height: var(--header-height);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      background-color: var(--white-color);
      z-index: var(--z-fixed);
      transition: 0.5s;
  }
  
  .header_toggle {
      color: var(--first-color);
      font-size: 1.5rem;
      cursor: pointer;
      color: #000000;
  }
  
  .header_img {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
  }
  
  .header_img img {
      width: 40px;
  }
  
  .l-navbar {
      position: fixed;
      top: 0;
      left: -30%;
      width: var(--nav-width);
      height: 100vh;
      background-color: var(--first-color);
      padding: 0.5rem 1rem 0 0;
      transition: 0.5s;
      z-index: var(--z-fixed);
      background: linear-gradient(180deg, #111111 0%, #242424 100%);
  }
  
  .nav {
      height: 100%;
      width: calc(100% + 7px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
  }
  
  .nav_logo {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1rem;
      position: relative;
  }
  
  .nav_link {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1rem;
      padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  .nav_drop {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1rem;
      padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  .nav_logo {
      margin-bottom: 2rem;
  }
  
  .nav_logo-icon {
      font-size: 1.25rem;
      color: var(--white-color);
  }
  
  .nav_logo-name {
      color: var(--white-color);
      font-weight: 600;
      letter-spacing: 0.325em;
      position: absolute;
      left: 70px;
      top: 20px;
      width: 300px;
  }
  
  .nav-separation-line {
      position: absolute;
      color: rgb(255, 255, 255);
      margin-left: 10px;
      left: 3px;
      top: 65px;
      opacity: 100;
  }
  
  /* when the sidebar is closed, set the width of the nav-separation-line element to 100% */
  @media (max-width: 68px) {
      .nav-separation-line {
          width: 100%;
      }
  }
  
  /* when the sidebar is open, set the width of the nav-separation-line element to calc(100% - 25px) */
  @media (min-width: 68px) {
      .nav-separation-line {
          width: calc(100% - 25px);
      }
  }
  
  .nav_link {
      position: relative;
      color: var(--first-color-light);
      margin-bottom: 1.5rem;
      transition: 0.3s;
  }
  
  .show_side {
      left: 0;
  }
  
  .nav_link:hover {
      color: var(--white-color);
  }
  
  .nav_drop {
      position: relative;
      color: var(--first-color-light);
      margin-bottom: 1.5rem;
      transition: 0.3s;
  }
  
  .nav_drop:hover {
      color: var(--white-color);
  }
  
  .nav_icon {
      font-size: 1.15rem;
  }
  
  .body-pd {
      padding-left: calc(var(--nav-width) + 1rem);
  }
  
  .active {
      color: var(--white-color);
  }
  
  .active::before {
      content: "";
      position: absolute;
      left: 0;
      width: 2px;
      height: 32px;
      background-color: var(--white-color);
  }
  
  .height-100 {
      height: 100vh;
  }
  
  @media screen and (min-width: 768px) {
      body {
          margin: calc(var(--header-height) + 1rem) 0 0 0;
          padding-left: calc(var(--nav-width) + 2rem);
      }
  
      .header {
          height: calc(var(--header-height) + 1rem);
          padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
      }
  
      .header_img {
          width: 40px;
          height: 40px;
      }
  
      .header_img img {
          width: 45px;
      }
  
      .l-navbar {
          left: 0;
          padding: 1rem 1rem 0 0;
      }
  
      .show_side {
          width: calc(var(--nav-width) + 156px);
      }
  
      .body-pd {
          padding-left: calc(var(--nav-width) + 188px);
      }
  }
  
  .eologo {
      height: 50px;
      width: 50px;
      margin-left: 10px;
      object-fit: cover;
  }
  
  .n-dropdown {
      box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
      border-radius: 18px;
      width: fit-content;
  }
  
  .dropdown-menu {
      margin-left: 35px !important;
  }
  
  @keyframes fade {
      from {
          opacity: 0%;
      }
      to {
          opacity: 100%;
      }
  }
  
  .activate:hover {
      border-radius: 18px;
      box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.164);
  }
  
  .li_on {
      border-radius: 18px;
      box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.164);
      background-color: #1c46b3;
      color: white;
  }
  
  @media (min-width: 200px) {
      .animate {
          animation-duration: 0.3s;
          -webkit-animation-duration: 0.3s;
          animation-fill-mode: both;
          -webkit-animation-fill-mode: both;
      }
  }
  
  @keyframes slideIn {
      0% {
          transform: translateY(1rem);
          opacity: 0;
      }
      100% {
          transform: translateY(2rem);
          opacity: 1;
      }
      0% {
          transform: translateY(1rem);
          opacity: 0;
      }
  }
  
  @-webkit-keyframes slideIn {
      0% {
          -webkit-transform: transform;
          -webkit-opacity: 0;
      }
      100% {
          -webkit-transform: translateY(2);
          -webkit-opacity: 1;
      }
      0% {
          -webkit-transform: translateY(1rem);
          -webkit-opacity: 0;
      }
  }
  
  .slideIn {
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
  }
  
  .publish-btn {      
      position: fixed;
      bottom: 0px;
      right: 0px; 
      font-size: larger;
      margin-bottom: 50px;
      margin-right: 50px;
  }