* {
    font-family: 'Montserrat';
}

body {
    padding-top: 85px;
}

.form-control {
    border-radius: 14px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.wrong {
    box-shadow: 0px 4px 15px rgba(165, 2, 2, 0.719);
}

.btn-primary {
    background-color: #1C46B2;
    border: none;
}

.btn-primary:hover {
    background-color: #1c3a85;
}

.btn {
    border-radius: 50px;
}

.datepicker table tr td, .datepicker table tr th{
    text-align:center;
    width:30px;
    height:30px;
    border-radius:4px;
    border:none
}

.datepicker-dropdown {
    top: 129px !important;
}

.paging_simple_numbers {
    /* display: none */
    font-weight: 500;
}

.current {    
    font-weight: 800;    
}