.progress {
    border-radius: 15px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.445);
}

.progress-bar {
    background-color: #2d56be;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.orders-table-header {
    background-color: #1c46b2;
    color: white;
}

.dataTables_info {
    margin-left: 13px !important;
}

.orders-container {
    border-radius: 15px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.paging_simple_numbers {
    /* display: none */
    font-weight: 500;
}

.current {
    font-weight: 800;
}

.table-switch {
    float: right;
}

/* Edit page */

.items-list {
    /* width: 540px; */
    height: 780px;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.233);
    border-radius: 27px;
}

.scroll-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 650px;
    /* width: auto - 14px; */
}

.scroll-card::-webkit-scrollbar {
    width: 12px;
}

.scroll-card::-webkit-scrollbar-track {
    background-color: #dbdbdb;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll-card::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #1e43a0;
    border-radius: 10px;
    background-color: #2a53bd;
}

.item-card-content {
    margin-left: 24px;
}

.food-card-label {
    margin-left: 10px;
    margin-top: 170px;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.food-card-quantity {
    margin-top: 170px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.food-card-price {
    margin-right: 10px;
    margin-top: 170px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    float: right;
}

.item-card-footer {
    width: 505px;
    height: 70px;
    background: #d9d9d9;
    border-radius: 26px;
}

.total-lbl {
    font-size: 24;
    font-weight: 700;
    color: black;
    margin-top: 16px;
    margin-left: 10px;
}

.total-lbl-price {
    font-size: 24;
    font-weight: 600;
    color: black;
    margin-top: 16px;
    margin-right: 10px;
    float: right;
}

.percentage-lbl {
    font-size: 20px;
}

.ingredients-container {
    height: fit-content;
    border-radius: 36px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.171);
}

.ing-tab {
    margin-left: 20px;
    width: 90%;
}

.edit-contain {
    display: flex;
    justify-content: center;
}

.table-btn {
    font-size: 12px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check {
    color: #35b94b;
    margin-left: 5px !important;
}

.xmark {
    color: #dc3545;
    margin-left: 5px !important;
}

.note-card {
    height: fit-content;
    border-radius: 50px;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px #9f9f9f, -5px -5px 10px #ffffff;
}

.note-text-container {
    margin-left: 10px;
}

.note-text {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.fa-exclamation {
    font-size: 20px;
    color: #dc3545;
    transform: rotate(350deg);
}

.fa-utensils {
    font-size: 20px;
    color: #1C46B2;
    transform: rotate(350deg);
}

.headers-details {
    margin-left: 15px; 
    margin-top: 5px; 
    font-weight: 700
}

.deadline-contain {
    display: flex;
    flex-direction: row;
}

.close-order {
    margin-left: 10px;
    height: fit-content;
    font-size: 15px;
}

.deadline-warning {
    color: #dc3545;
    font-weight: 800;
}