.progress {
    border-radius: 15px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.445);
}

.progress-bar {
    background-color: #2d56be;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.orders-table-header {
    background-color: #1C46B2;
    color: white;
}


.dataTables_info {
    margin-left: 13px !important;
}

.orders-container {
    border-radius: 15px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.paging_simple_numbers {
    /* display: none */
    font-weight: 500;
}

.current {
    font-weight: 800;
}

.table-switch {
    float: right;
}

/* Edit page */

.items-list {
    width: 540px;
    height: 780px;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.233);
    border-radius: 27px;
}

.scroll-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 650px;
    width: 524px;
}

.scroll-card::-webkit-scrollbar {
    width: 12px;
}

.scroll-card::-webkit-scrollbar-track {
    background-color: #dbdbdb;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.scroll-card::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #0e255e;
    border-radius: 10px;
    background-color: #1C46B2;
}

.item-card-content {
    margin-left: 13px;
}

.food-card-label {
    margin-left: 10px;
    margin-top: 170px;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.food-card-quantity {
    margin-top: 170px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.food-card-price {
    margin-right: 10px;
    margin-top: 170px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    float: right;
}

.item-card-footer {
    width: 505px;
    height: 70px;
    background: #D9D9D9;
    border-radius: 26px;
}

.total-lbl {
    font-size: 24;
    font-weight: 700;
    color: black;
    margin-top: 16px;
    margin-left: 10px;
}

.total-lbl-price {
    font-size: 24;
    font-weight: 600;
    color: black;
    margin-top: 16px;
    margin-right: 10px;
    float: right;
}